/* global */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

img.responsive{
    width: 100%;
}


/* reset CSS */
*{
    margin:0;
    padding: 0;
    border: 0;
    font-family:arial;
    font-size: 18px;
    font-weight:300;
    background: none;
    list-style: none;
}
/* /reset CSS */


h1{
    font-size: 24px;
    font-weight: 700;
}

/* /global */


/* header */
header{
    
}
header section{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header nav{
    margin-bottom: 10px;
}
header nav.hamburguer{

}
header nav.hamburguer button span{
    display: block;
    width: 40px;
    height: 4px;
    background: #000;
    margin-bottom: 6px;
}

header nav.tools ul{
    display: flex;
}
header nav.tools ul a{
    padding: 6px;
    color: #000;
    text-decoration: none;
}


header #logo{
    width: 371px;
    margin-bottom: 10px;
    display:block;
    background: white;
}




/* stories */

header section.stories ul{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

header section.stories ul li{
    width: 10.5%;
}
header section.stories ul li img{
    border-radius: 100%;
    border:4px solid #000;
    padding: 3px;
    background: coral;
}

header section.stories ul li:nth-child(8) img{
    background:midnightblue
}

header section.stories ul li:nth-child(1) img{
    background: aqua;
}

header section.stories ul li:nth-child(2) img{
    background:blueviolet
}

header section.stories ul li:nth-child(3) img{
    background:brown
}

header section.stories ul li:nth-child(4) img{
    background:chartreuse
}

header section.stories ul li:nth-child(5) img{
    background:chocolate
}

header section.stories ul li:nth-child(6) img{
    background:darkmagenta
}

header section.stories ul li:nth-child(7) img{
    background:deeppink
}



header section.stories ul li figcaption{
    text-align: center;
    margin-top: 20px;

}









/* stories tablets */
@media (max-width: 1024px){

    header section.stories ul li{
        width: 10%;
    }

}



/* stories smartphones */
@media (max-width: 767px){


    header section.stories{
        display: block;
        width: 100%;
        overflow: auto;
    }
  
    header section.stories ul{
        display: block;
        width:fit-content;
        max-width:fit-content;
        white-space: nowrap;
        

    }

    header section.stories ul li{
        display: inline-block;
        width: 23%;
        margin: 0 8px;
        
    }

    header section.stories ul li figcaption{
       width: 100%;
       display: block;
       white-space:normal;
       font-size: 18px;
    }

}
/* /stories smartphones */



/* /stories */

/* /header */

/* main */
main{

}

main section.modulos-home{
    padding: 50px 0;
}
main section.modulos-home h2{
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 10px;

}
main section.modulos-home ul{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
main section.modulos-home ul li{
    width: 23%;
}

main section.modulos-home ul li figure img{
    border: 2px solid #000;
}

main section.modulos-home ul li figcaption{
    font-size: 20px;
    margin-top: 10px;
    line-height: 30px;
}

/* modulos-home tablets */
@media (max-width: 1024px){
    main section.modulos-home ul{
        display: block;
    }
    main section.modulos-home ul li{
       display: inline-block;
       width: 49%;
    }
}
/* /modulos-home tablets */

/* modulos-home smartphones */
@media (max-width: 767px){
    main section.modulos-home ul{
        display: block;
        text-align: center;

    }
    main section.modulos-home ul li{
       display: inline-block;
       width: 95%;
    }
    
    main section.modulos-home ul li figcaption{
        margin-bottom: 50px;
    }
}
/* /modulos-home smartphones */


main section.modulos-home.bbb{
    background: chocolate;
}

main section.modulos-home.marvel{
    background:blueviolet;
}
main section.modulos-home.marvel ul li figcaption{
    color: #fff;
}

main section.modulos-home.tv{
    background:rgb(226, 43, 147);
}
main section.modulos-home.tv ul li{
    width: 31%;
}
main section.modulos-home.tv div.diferenciado{
    max-width: 800px;
}


/* /main */



footer{
    background: blue;
    height: 100px;
}





div.exemplo{
    background: #ff0000;
    width: 100%;
    height: 300px;
    max-width: 1300px;
    margin: 30px auto;
}

@media (max-width: 1024px){

    div.exemplo{
        width: 90%;
        max-width: 900px;
        border-radius: 20px;
    }

}

@media (max-width: 767px){

    div.exemplo{
        width: 96%;
        max-width: none;
        border-radius: 40px;
    }

}




